.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calcContainer {
  width: 200px;
  border-radius: 5px;
  /* overflow: hidden; */
  -webkit-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.display {
  background-color: #282528;
  color: #fff;
  text-align: end;
  margin: 0;
  padding: 10px 10px 3px 10px;
  font-size: 1.5em;
}

.keyContainer {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.btn {
  width: 50px;
  height: 40px;
  background-color: #5d5b5d;
  color: #fff;
  border: 1px #29262a solid;
  font-size: 1.1em;
}

.wide {
  width: 150px;
}

.clear {
  background-color: #3d3a3d;
}

.zero {
  width: 100px;
}

.operator {
  background-color: #ff952a;
}
